<html> 
<head> 
  <title>Posts</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
 
<div class="container-fluid">
  <div class="row justify-content-center">
  <div class="col-4">Instagram</div>
  <div class="col-md-4">
 
  <img src="https://sun9-56.userapi.com/impf/c845419/v845419803/ccd9f/7IudjLPMF2M.jpg?size=1280x1280&quality=96&sign=c7c9a1d332b06a2826be79ec858fdde2&type=album"
                     class="rounded-circle" width="32px" height="32px" alt="...">
  </div>
 </div>
</div>
</head>

<body>
<div class="container-fluid bg-light my-3">
 <div class="row justify-content-center">
    <div class="col">
	<div class="card position-absolute top-20 start-50 translate-middle-x" style="width: 470px;">
		<div class="card-header">
			<img src="https://sun9-56.userapi.com/impf/c845419/v845419803/ccd9f/7IudjLPMF2M.jpg?size=1280x1280&quality=96&sign=c7c9a1d332b06a2826be79ec858fdde2&type=album"
						 class="rounded-circle" width="32px" height="32px" alt="...">
			userLogin
		</div>
		<div class="card-body">
		  <img src="https://sun9-56.userapi.com/impf/c845419/v845419803/ccd9f/7IudjLPMF2M.jpg?size=1280x1280&quality=96&sign=c7c9a1d332b06a2826be79ec858fdde2&type=album" class="card-img-top" alt="...">
		  <div class="card-body">
			<p><img src="heart.png" width="32" height="32" alt="image description"><p>
			<p class="card-text">38 likes</p>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
	</div>	 
	</div>
	
   

	
	</div>	

 </div> 

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>



</html>