<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Posts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


    <div class="container-fluid ">
        <!--   <div class="row col-6 mt-3 mx-3"> -->
        <!--      <div class="col-10"> -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/mainPage.html">Instagram</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/registration}">Registration</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/authorization}">Authorization</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/mainPage}">MyPage</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/otherPosts}">Other posts</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/logout}">Log out</a>
                        </li>

                    </ul>
                </div>


            </div>
        </nav>
        <!-- 	</div> -->
        <!--   </div> -->
    </div>


</head>

<body>


<div class="container-fluid bg-light my-3">
    <th:block th:each="post, state : ${allPosts}">
        <div class="row justify-content-center">
            <div class="col">
                <div class="card top-20 start-50 translate-middle-x" style="width: 470px; margin-top: 1%">
                    <div class="card-header">
                        <img th:src="@{${'/image/display/'+ post.id}}"
                             class="rounded-circle" width="32px" height="32px" alt="...">
                        <p th:utext="${post.getUser().getUsername()}"></p>
                    </div>
                    <div class="card-body">
                        <img th:src="@{${'/image/display/'+ post.id}}"
                             class="card-img-top" alt="...">
                        <div class="card-body">

                            <form th:action="@{/otherPosts/addLike/{idPost}(idPost=${post.id})}" method="post">
                                <form>
                                    <p><img th:src="@{/images/heart.png}"/></p>
                                    <!--                            <p><img src="../images/heart.png" width="32" height="32" alt="image description">-->
                                    <button type="submit" class="btn btn-primary">Add like</button>
                                </form>

                                <p>
                                <p class="card-text" th:utext="${post.getCountLikes()}"> likes</p>
                                <p class="card-text" th:utext="${post.description}">Some quick example text to build on
                                    the
                                    card title and make up the bulk
                                    of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>


</html>